.AuthLayout {
    display: flex;
    height: 100vh;
    font-size: 1.6rem;
    color: var(--primary-color);
}

.AuthLayout__image {
    width: 605px;
    background-color: var(--primary-color);
}

.AuthLayout__main {
    max-width: 610px;
    margin: auto;
    flex: 1;
}

.AuthLayout__title {
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.AuthLayout__member {
    font-size: 1.4rem;
    margin-top: 2rem;
}

.AuthLayout__link {
    font-weight: 600;
    color: var(--primary-color);
    margin-left: 0.7rem;
}
